

@keyframes ldio-ocjyp07wiu {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-ocjyp07wiu div {
  left: 34.5px;
  top: 24.5px;
  position: absolute;
  animation: ldio-ocjyp07wiu linear 1s infinite;
  background: #93dbe9;
  width: 31px;
  height: 11px;
  border-radius: 15.5px / 5.5px;
  transform-origin: 15.5px 25.5px;
}.ldio-ocjyp07wiu div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9444444444444444s;
  background: #93dbe9;
}.ldio-ocjyp07wiu div:nth-child(2) {
  transform: rotate(20deg);
  animation-delay: -0.8888888888888888s;
  background: #689cc5;
}.ldio-ocjyp07wiu div:nth-child(3) {
  transform: rotate(40deg);
  animation-delay: -0.8333333333333334s;
  background: #d9dbee;
}.ldio-ocjyp07wiu div:nth-child(4) {
  transform: rotate(60deg);
  animation-delay: -0.7777777777777778s;
  background: #93dbe9;
}.ldio-ocjyp07wiu div:nth-child(5) {
  transform: rotate(80deg);
  animation-delay: -0.7222222222222222s;
  background: #689cc5;
}.ldio-ocjyp07wiu div:nth-child(6) {
  transform: rotate(100deg);
  animation-delay: -0.6666666666666666s;
  background: #d9dbee;
}.ldio-ocjyp07wiu div:nth-child(7) {
  transform: rotate(120deg);
  animation-delay: -0.6111111111111112s;
  background: #93dbe9;
}.ldio-ocjyp07wiu div:nth-child(8) {
  transform: rotate(140deg);
  animation-delay: -0.5555555555555556s;
  background: #689cc5;
}.ldio-ocjyp07wiu div:nth-child(9) {
  transform: rotate(160deg);
  animation-delay: -0.5s;
  background: #d9dbee;
}.ldio-ocjyp07wiu div:nth-child(10) {
  transform: rotate(180deg);
  animation-delay: -0.4444444444444444s;
  background: #93dbe9;
}.ldio-ocjyp07wiu div:nth-child(11) {
  transform: rotate(200deg);
  animation-delay: -0.3888888888888889s;
  background: #689cc5;
}.ldio-ocjyp07wiu div:nth-child(12) {
  transform: rotate(220deg);
  animation-delay: -0.3333333333333333s;
  background: #d9dbee;
}.ldio-ocjyp07wiu div:nth-child(13) {
  transform: rotate(240deg);
  animation-delay: -0.2777777777777778s;
  background: #93dbe9;
}.ldio-ocjyp07wiu div:nth-child(14) {
  transform: rotate(260deg);
  animation-delay: -0.2222222222222222s;
  background: #689cc5;
}.ldio-ocjyp07wiu div:nth-child(15) {
  transform: rotate(280deg);
  animation-delay: -0.16666666666666666s;
  background: #d9dbee;
}.ldio-ocjyp07wiu div:nth-child(16) {
  transform: rotate(300deg);
  animation-delay: -0.1111111111111111s;
  background: #93dbe9;
}.ldio-ocjyp07wiu div:nth-child(17) {
  transform: rotate(320deg);
  animation-delay: -0.05555555555555555s;
  background: #689cc5;
}.ldio-ocjyp07wiu div:nth-child(18) {
  transform: rotate(340deg);
  animation-delay: 0s;
  background: #d9dbee;
}
.loadingio-spinner-spinner-layotri30v9 {
  width: 51px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ocjyp07wiu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ocjyp07wiu div { box-sizing: content-box; }
/* generated by https://loading.io/ */
