.App {
  text-align: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}


.pinned-project-menu::-webkit-scrollbar {
  display: none!important;
}

.pinned-project-menu {
  -ms-overflow-style: none!important;
  scrollbar-width: none!important;
}

.member-container::-webkit-scrollbar, 
.pinned-project-menu::-webkit-scrollbar, 
.activity-container::-webkit-scrollbar  {
  display: none!important;
}

.member-container,
.activity-container,
.pinned-project-menu {
  -ms-overflow-style: none!important;
  scrollbar-width: none!important;
  
}